body {
	background-color: lightblue;
	font-family: 'Raleway', sans-serif;
}

.jumbotron {
	height: 300px;
	font-family: 'Exo', sans-serif;
	color: white;
	background-image: url('../images/background.jpg');
}

.hide-me {
	display: none; // hides questions until Start button pressed
				// or when pressed, hide Start button
}

.row {
	border: solid 1px black;
}

.btn {
	font-family: 'Exo', sans-serif;
	color: purple;
	background-color: green;
	width: 200px;
	height: 150px;
}

.btn:hover {
	color: blue;
	background-color: red;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: pink;
}

#countdown {
	text-align: center;
}