body {
	background-color: lightblue;
	font-family: 'Raleway', sans-serif;
}

.hide-me {
	display: none; // hides questions until Start button pressed
				// or when pressed, hide Start button
}

.row {
	border: solid 1px black;
}

.button {
	
}