body {
	background-color: lightblue;
	font-family: 'Raleway', sans-serif;
}

#heading {
	font-family: 'Exo', sans-serif;
	color: white;
	background-image: url('../images/background.jpg');
}

.hide-me {
	display: none; // hides questions until Start button pressed
				// or when pressed, hide Start button
}

.btn .panel-heading {
	font-family: 'Exo', sans-serif;
}

.btn {
	color: purple;
	background-color: green;
	width: 200px;
	height: 115px;
	border-radius: 24px;
}

.panel-body {
	padding-bottom: 25px;
}

.input {
	padding-right: 10px;
}

.btn:hover {
	color: blue;
	background-color: red;
	opacity: 0.5;
}

.item {
	text-align: center;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: pink;
}

#countdown {
	text-align: center;
}

.carousel-indicators {
	background: black;
}